@import "tailwindcss";

/* Current hosting URL: https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/ */

.cursor-1-pointer { cursor: url('https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/cursors/1/select.cur'), pointer; }
.cursor-1-normal { cursor: url('https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/cursors/1/normal.cur'), default; }
.cursor-1-text { cursor: url('https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/cursors/1/text_sel.cur'), text; }
.cursor-2-pointer { cursor: url('https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/cursors/2/select.cur'), pointer; }
.cursor-2-normal { cursor: url('https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/cursors/2/normal.cur'), default; }
.cursor-2-text { cursor: url('https://comment-walt-warrior-donated.trycloudflare.com/drive/webpage_data/cursors/2/text_sel.cur'), text; }
