@font-face {
    font-family: terminalFont;
    src: url(OCRAEXT.TTF);
}

.wb-body, .hidden-input, .dropdown button, #time, #launchpad button, .dropdown-menu {
    color: #ffffff !important;
}

.dropdown-menu, .wb-body {
    background-color: #131820 !important;
}

#dock {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: #1f1f1f;
    border-radius: 5%;
}

.dock-item {
    max-width: 10vh;
    max-height: 10vh;
    padding: 2vh;
}

.dock-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#app {
    background: url("apple.png");
}

#menubar {
    position: relative;
    border: 1px;
}

#time {
    display: inline;
    float: right;
}

html {
    background-image: url("image.png");
    background-color: #1c1c1c;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#appList {
    bottom: 49px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    color: #131820;
}



.dropdown-menu a:hover {
    background-color: #696969;
}

#icon {
    max-width: 20px;
    max-height: 20px;
}

.winbox {
    border-width: 0.2em;
    background-color: #242424;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ffffff;
}

.not-gui {
    color: #0000ff;
}

.terminal-contents, .hidden-input {
    font-family: terminalFont;
} 

button {
    border: 0;
    background: none;
}

.hidden-input {
    position: fixed;
    width: 100vw;
    background-color: inherit;
    border: none !important;
}

.hidden-input:focus {
    outline: none;
}

.winbox.just-x .wb-min, .winbox.just-x .wb-max, .wb-full {
    display: none;
}

#launchpad button {
    display: flex;
    padding: 25px 5px;
    flex-wrap: wrap;    
}

#menubar-contents {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: none;
}

#menubar-contents li {
    float: left;
}